{% extends 'base.html.twig' %}
{% block title %}Inscription - {{ parent() }}{% endblock %}

{% block body %}

{{ form_start(form) }}
    {{ form_row(form.lastname) }}
    {{ form_row(form.firstname) }}
    {{ form_row(form.email) }}
    {{ form_row(form.plainPassword) }}
    <div class="text-right">
        <button type="submit" class="btn btn-primary">
            Enregistrer
        </button>
    </div>
    {{ form_end(form) }}

{% endblock %}

