<div class="navbar-collapse">
    <ul class="navbar-nav">
        {% for category in categories %}
            <li class="nav-item">
                <a class="nav-link"
                   href="{{ path('app_admin_category_index', {'id': category.id}) }}">
                    {{ category }}
                </a>
            </li>
        {% endfor %}
    </ul>
</div>
