{% extends 'base.html.twig' %}

{% block body %}
    <h1>Commentaires de l'article "{{ article.title }}"</h1>
    <a href="{{ path('app_admin_article_index') }}" class="btn btn-outline-primary">
        Retour à la liste d'articles
    </a>
    <table class="table">
        <tr>
            <th>Utilisateur</th>
            <th>Contenu</th>
            <th>Date</th>
            <th></th>
        </tr>
        {% for comment in article.comments %}
            <tr>
                <td>{{ comment.user }}</td>
                <td>{{ comment.content|nl2br }}</td>
                <td>{{ comment.publicationDate|date('d/m/Y H:i') }}</td>
                <td>
                    <a href="{{ path('app_admin_comment_delete', {'id': comment.id}) }}" class="btn btn-danger">
                        Supprimer
                    </a>
                </td>
            </tr>
            {% else %}
            <tr>
                <td colspan="4" class="text-center">
                    Aucun commentaire
                </td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}