{% extends 'base.html.twig' %}

{% block body %}
    <h1>Edition catégorie</h1>

    {# ouvre la balise form #}
    {{ form_start(form) }}

    {# bloc de formulaire pour le champ name #}
    {{ form_row(form.name) }}

    <div class="text-right">

        <button tpye="submit" class="btn btn-primary">
            Enregistrer
        </button>

        <a href="{{ path('app_admin_category_index') }}"
           class="btn btn-outline-secondary">
            Retour
        </a>

    </div>
    {# ferme la balise form #}
    {{ form_end(form) }}
{% endblock %}

