{% extends 'base.html.twig' %}

{% block body %}
    <h1>Gestion catégories</h1>
    <a href="{{ path('app_admin_category_edit') }}"
       class="btn btn-outline-primary mb-3">
        Ajouter une catégorie
    </a>

    <table class="table">
        <tr>
            <th>ID</th>
            <th>Categorie</th>
            <th width="250px"></th>
        </tr>
        {% for cat in category %}
        <tr>
            <td>{{ cat.id }}</td>
            <td>{{ cat.name }}</td>
            <td>
                <a href="{{ path('app_admin_category_edit', {'id': cat.id}) }}"
                   class="btn btn-outline-warning">
                    Modifier
                </a>
                <a href="{{ path('app_admin_category_delete', {'id': cat.id}) }}"
                   class="btn btn-outline-danger">
                    Supprimer
                </a>
            </td>
        </tr>
        {% endfor %}
    </table>

{% endblock %}