<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Symfony blog{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('lib/bootstrap/bootstrap.min.css') }}">
        {% endblock %}
    </head>
    <body>

    {# s'il y a un utilisateur connecté et qu'il a le rôle ROLE_ADMIN #}
    {% if is_granted('ROLE_ADMIN') %}
    <nav class="navbar navbar-expand-md navbar-dark bg-info">
        <div class="container navbar-nav">
            <a class="navbar-brand" href="{{ path('app_admin_category_index') }}">
                Admin
            </a>
            <div class="navbar-collapse">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link"
                        href="{{ path('app_admin_category_index') }}">
                            Gestion catégories
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link"
                           href="{{ path('app_admin_article_index') }}">
                            Gestion des articles
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    {% endif %}

    <nav class="navbar navbar-expand-md navbar-dark bg-info">
        <div class="container navbar-nav">
            <a class="navbar-brand" href="{{ path('app_index_index') }}">
                Blog
            </a>
            {# affiche le rendu de la méthode menu() de CategoryController #}
            {# {{ render(controller('App\\Controller\\CategoryController::menu')) }}#}
            <ul class="navbar-nav">

                {#app.user : l'utilisateur connecté#}
                {% if app.user is null %}
                    

                <li class="nav-item">
                    <a class= "nav-link" href="{{ path('app_security_register') }}">
                        Inscription
                    </a>
                </li>

                <li class="nav-item">
                    <a class= "nav-link" href="{{ path('app_security_login') }}">
                        Connexion
                    </a>
                </li>
                    {% else %}
                        <li class="nav-item">
                            <span class="nav-link">
                                {{ app.user }}
                            </span>
                        </li>
                    <li class="nav-item">
                        <a class= "nav-link" href="{{ path('app_security_logout') }}">
                            Déconnexion
                        </a>
                    </li>
                {% endif %}
                <li class="nav-item">
                    <a class= "nav-link" href="{{ path('app_index_contact') }}">
                        Contact
                    </a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="container">
        {#
         affichage des messages flash:
         boucle en clé => valeur sur les messages flash stockés
         dans la session (stockés par type de message)
         foreach ($allFlasjMessages as $type = > $messages)
         #}
        {% for type, messages in app.session.flashBag.all %}
            {% for message in messages %}
                {# pour la classe alert-danger du bootstrap #}
                {% if type == 'error' %}
                    {% set type = 'danger' %}
                {% endif %}
                    <div class="alert alert-{{ type }} mt-2">
                        {{ message|raw }}
                    </div>
            {% endfor %}
        {% endfor %}
        {% block body %}{% endblock %}
    </div>
        {% block javascripts %}
            <script
                    src="https://code.jquery.com/jquery-3.4.1.min.js"
                    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
                    crossorigin="anonymous"></script>
            <scrip src="{{ asset('lib/bootstrap/bootstrap.min.js') }}"></scrip>

        {% endblock %}
    </body>
</html>
