{% extends 'base.html.twig' %}

{% block body %}
    <h1>Edition article</h1>

    {# ouvre la balise form #}
    {{ form_start(form) }}

    {# bloc de formulaire pour le champ name #}
    {{ form_row(form.title) }}
    {{ form_row(form.content) }}
    {{ form_row(form.category) }}
    {{ form_row(form.image) }}

    <p>
        Actuellement:
        {% if original_image is not null %}
            <img src="{{ asset('images/' ~ original_image) }}" height="200px">
            {% else %}
            pas d'image
        {% endif %}
    </p>


    <div class="text-right">

        <button tpye="submit" class="btn btn-primary">
            Enregistrer
        </button>

        <a href="{{ path('app_admin_article_index') }}"
           class="btn btn-outline-secondary">
            Retour
        </a>

    </div>
    {# ferme la balise form #}
    {{ form_end(form) }}
{% endblock %}

