{% extends 'base.html.twig' %}

{% block body %}
    <h1>Gestion articles</h1>
    <a href="{{ path('app_admin_article_edit') }}"
       class="btn btn-outline-primary mb-3">
        Ajouter un article
    </a>

    <div class="card bg-light mb-3">
        <div class="card-body">
            {{ form_start(search_form) }}

            <div class="row">
                <div class="col-md-6">
                    {{ form_row(search_form.title) }}
                </div>

                <div class="col-md-6">
                    {{ form_row(search_form.category) }}
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    {{ form_row(search_form.start_date) }}
                </div>

                <div class="col-md-6">
                    {{ form_row(search_form.end_date) }}
                </div>
            </div>

            <div class="text-right">
                <button type="submit" class="btn btn-info">
                    Rechercher
                </button>
            </div>

            {{ form_end(search_form) }}
        </div>
    </div>

    <table class="table">
        <tr>
            <th>Id</th>
            <th>Titre</th>
            <th>Date de publication</th>
            <th>Catégorie</th>
            <th>Auteur</th>
            <th>Commentaires</th>
            <th width="300px"></th>
        </tr>
        {% for art in article %}
            <tr>
                <td>{{ art.id }}</td>
                <td>{{ art.title }}</td>
                <td>{{ art.publicationDate|date('d/m/Y') }}</td>
                <td>{{ art.category }}</td>
                <td>{{ art.author }}</td>
                <td>
                    <a href="{{ path('app_admin_comment_index', {'id': art.id}) }}">
                        {{ art.comments|length }}
                    </a>

                </td>
                <td>
                    <a href="{{ path('app_admin_article_edit', {'id': art.id}) }}"
                       class="btn btn-outline-warning">
                        Modifier
                    </a>
                    <a href="{{ path('app_admin_article_delete', {'id': art.id}) }}"
                       class="btn btn-outline-danger">
                        Supprimer
                    </a>
                </td>
            </tr>

            {% else %}

            <tr>
                <td colspan="6" class="text-center">
                    Aucun article
                </td>
            </tr>


        {% endfor %}




    </table>
{% endblock %}